
/*----------------app 头部css-----------------*/

/*返回<的颜色，大小*/
$back-color: #808085;
$back-font:2.5rem;
/*button颜色，大小*/
$btn-bg:#ff7302;
$btn-font:1rem;
/*搜索btn的颜色，大小*/
$sbtn-bg:#fff;
$sbtn-font:1rem;
$sbtn-color: #a8a8a8;
$sbtn-border:#a8a8a8;
/*推荐下拉的颜色，大小*/
$sort-font:1.4rem;
$sort-size:1.1rem;
$sort-color:#666;

.mui-bar{
  height:auto;
  background: #fff;
  box-shadow:none;
}

.zqui-item-box .item-box{
  display: flex;
  align-items: center;
}
.zqui-header-border{
  box-shadow: 0 1px 2px #f1f1f1;
}
.zqui-header{
  top:0;
  .zqui-item-box{
    height: 44px;
    align-items: center;
    .iconfont{
      font-size: $back-font;
      color: $back-color;
    }
    .title{
      text-align: center;
      font-size: 1.4rem;
    }
    .btn{
      background:$btn-bg;
      color: #fff;
      border: none;
      padding: 0.4rem  0.8rem;
      border-radius:10px;
      font-size: $btn-font;
    }
    .search-btn{
      background:$sbtn-bg;
      color:  $sbtn-color;
      border: 1px solid $sbtn-border;
      padding: 0.4rem  0.8rem;
      border-radius:8px;
      font-size: $sbtn-font;
    }
    .zqui-sort{
      justify-content: center;
      align-items: center;
      .sort-text{
        font-size:$sort-font;
      }
      .iconfont{
        font-size: $sort-size;
        color: $sort-color;
      }
    }
  }
  .sort-main{
    width: auto;
    font-size: 1.2rem;
    padding:7px 15px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 2px #f1f1f1;
    .zqui-item-box{
      align-items: center;
      height:auto;
      padding-top: 7px;
      padding-bottom: 7px;
      .item-flex{
        width:5rem;
      }
      .item {
        padding-left:3rem;
        display: none;
        .iconfont{
          font-size: 1.2rem;
          color: #ff5600;
        }
      }
    }
    .zqui-active{
      color: #ff5600;
      .item{
        display:block;
      }
    }

  }

}
.search {
  margin-left: 10px;
  margin-right: 10px;
  .search-box{
    width: 100%;
    height: 29px;
  }
  input[type=search]{
    background-color:#F2F2F2;
    background-image: url("../../assets/img/search.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 8px;
    font-size:1.1rem;
    text-align: left;
    padding-left: 25px;
    display: block;
    color: #333;
    margin: 0;
    border-radius: 10px;
  }

}

/*----------------app 头部css end-----------------*/